/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: #1e1e3f;
    color: #00875F;
    font-family: "UbuntuMonoDerivativePowerline-Regular","fontawesome","dejavusans","Font Awesome 5 Free","Font Awesome 5 Free Solid","Font Awesome 5 Brands";
    font-size: 13px;
    font-weight: bold;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#custom-alsa,
#workspaces button,
#custom-arrowR,
#custom-arrowR2,
#custom-arrowL,
#tray {
    padding-left: 10px;
    padding-right: 10px;
    background: #1e1e3f;
    color: #A599E9;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#battery.critical,
#cpu.critical,
#memory.critical,
#temperature.critical {
    background: #7d44b2;
}

#battery {
}

#clock.date {
}

#clock.time {
}

#cpu {
}

#cpu.warning {
}

#memory {
}

#memory.warning {
}

#mode {
    border-top: 2px solid white;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
}

#network {
}

#network.disconnected {
}

#pulseaudio {
    /* No styles */
}

#pulseaudio.muted {
    /* No styles */
}

#temperature {
}

#tray {
    /* No styles */
}

#workspaces button {
    /*border-top: 2px solid transparent;*/
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

#workspaces button.focused {
    background: #7d44b2;
}

#workspaces button.urgent {
    background: #bcd274;
}

#custom-arrowR2 {
    background: #a599e9;
    color: #1e1e3f;
}

#custom-arrowR,
#custom-arrowR2,
#custom-arrowL {
    font-size: 17px;
}
